In [5]:
import pandas

In [6]:
df = pandas.read_excel("sample-hourly.xls", header=3)
df.drop(["Date", "Rate Type", "Cost ($)"], axis=1, inplace=True)
df.head(2)

                 Time  Consumption (kWh)
0 2023-03-01 00:00:00               0.71
1 2023-03-01 01:00:00               0.74

In [7]:
df["Month"] = pandas.to_datetime(df['Time']).dt.strftime('%b-%Y')
out = df.groupby(by="Month").agg({"Consumption (kWh)" : ['sum', 'max']})
out.columns = out.columns.to_flat_index()
out.columns = ["Total kWh","Max Demand kWh"]

In [8]:
when = out.merge(df, how='left', left_on='Max Demand kWh', right_on="Consumption (kWh)").sort_values("Time")
print(when)
when.to_csv('when.csv')

   Total kWh  Max Demand kWh                Time  Consumption (kWh)     Month
1     787.77            7.92 2023-03-29 18:00:00               7.92  Mar-2023
0     146.10            7.54 2023-04-01 14:00:00               7.54  Apr-2023